<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<context:annotation-config/>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/pizza_store" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<!-- DAO bean definitions -->
		<bean id="pizzaDAO" name="pizzaDAO" class="com.aws.global.dao.PizzaDAO" scope="prototype">
			<property name="dataSource" ref="dataSource" />
		</bean>
		<bean id="orderDAO" name="orderDAO" class="com.aws.global.dao.OrderDAO" scope="prototype">
			<property name="dataSource" ref="dataSource" />
		</bean>
		<bean id="transactionDAO" name="transactionDAO" class="com.aws.global.dao.TransactionDAO" scope="prototype">
			<property name="dataSource" ref="dataSource" />
		</bean>
		
	<!-- Service Implementation bean definitions -->
		<bean id="pizzaServiceImpl" name="pizzaServiceImpl" class="com.aws.global.serviceImpl.PizzaServiceImpl" scope="prototype"/>
		<bean id="orderServiceImpl" name="orderServiceImpl" class="com.aws.global.serviceImpl.OrderServiceImpl" scope="prototype"/>
		<bean id="transactionServiceImpl" name="transactionServiceImpl" class="com.aws.global.serviceImpl.TransactionServiceImpl" scope="prototype"/>
		
	<!-- classes bean definitions -->
		<bean id="order" name="order" class="com.aws.global.classes.Order" scope="prototype"/>
		<bean id="pizza" name="pizza" class="com.aws.global.classes.Pizza" scope="prototype"/>
		<bean id="transaction" name="transaction" class="com.aws.global.classes.Transaction" scope="prototype"/>

</beans>