body{
	padding-top: 80px;
	background: url("../img/white_leather.png");
	padding-bottom: 30px;
}

/*
.navbar-inverse > .navbar-inner {
	background: url("../img/twinkle_twinkle.png") !important;
}*/

div#pagefooter {
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	height: 22px;
	padding-top: 3px;
	font-size: smaller;
	color:#555;
	background: url("../img/twinkle_twinkle.png") !important;
}

a.brand.brand-img{
    position: absolute;
    padding: 0px 20px;
}

ul.nav.main-nav{
    margin-left: 130px;
}

div#landing-carousel{
	margin-top: -41px;
}

.pizza-item > div.caption > h3 {
	margin: 0px;
}

.pizza-item > div.actions {
	width:100%;
}
.pizza-item > div.actions > a {
	display: inline-block;
	width:49%;
	text-align:center;
}

.text-right{
	text-align: right !important;
}